#BorderPane{
    -fx-background-image: url("Images/SpoderJW.jpg");
    -fx-fit-height: 1000px;
}

#Vbox{
    -fx-alignment: center;
}

#startButton{
	-fx-background-image: url("Images/SpoderJWButton.jpg");
	-fx-text-base-color: white;
	-fx-font-size: 3em;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-min-height: 150px;
    -fx-min-width: 600px;
    -fx-translate-y: -100px;
}

#optionsButton{
    -fx-background-image: url("Images/SpoderJWButton.jpg");
	-fx-text-base-color: white;
	-fx-font-size: 3em;
	-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-min-height: 150px;
    -fx-min-width: 600px;
}

#exitButton{
    -fx-background-image: url("Images/SpoderJWButton.jpg");
	-fx-text-base-color: white;
	-fx-font-size: 3em;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-translate-y: 100px;
    -fx-min-height: 150px;
    -fx-min-width: 600px;
}